* {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.98em;
}
li:hover, p:hover{
    color : #34ff0f;
}

/*Header*/
nav ul li {
    margin-left: 5%;

}

nav ul li i {
    transform: scale(2);
}

header {
    position: fixed;
    width: 100%;
    z-index: 2;

}

.bg-dark {
    background-color: transparent !important;
}

h4 {
    text-transform: uppercase;
    padding-right: 20px;
}

/* Body */
body {
    background-image: url("../images/pxfuel.com (1).jpg") !important;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    margin: auto;
    width: 100%;
    height: 100%;
}
nav, h1, h2, h3, h4,h5,h6{
    color: #34ff0f;
}
main{
    width: 90%;
    height: 90%;
    margin : auto;


}
#contact{
    padding-top: 5%;
}
#skills{
    padding-top: 7%
}
#accueil{
    padding-top: 12%;
}
#formation, #real{
    padding-top: 10%;
}
h1 {
    text-decoration: underline;
    text-transform: capitalize;
    display: flex;
    padding-bottom: 1%;
    font-size: 2em;
}

h1:first-child {
    text-transform: uppercase;
}

.badge {
    display: flex;
    height: 30px;
    width: 80px;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
}

.table-hover tbody tr:hover {
    color: #34ff0f;
}

/*Sections*/

#cartesSuperposees {
    width: 40%;
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}

section .list-group li {
    padding: 0px;
}

h5 {
    text-decoration: underline;
}

a {
    color: white;
}

a:hover {
    color: dimgrey;
}

/*footer*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

footer p {
    margin-top: 10px;
    margin-bottom: 5px;
}

#copyright {
    width: 30%;
}

.icons i {
    transform: scale(3)
}

.icons {
    float: right;
}

#coord {
    float: left;
}

/*Cartes & tableau*/
.card {
    width: 30%;
    margin-left: 20px;
    padding-left: 20px;
    max-height: 550px;
}

#tableau {
    overflow-x: auto;
}

#cardMiddleTop, #cardMiddleBottom {
    width: 95%
}

/*media queries*/

/* Scroll*/
html {
    scroll-behavior: smooth;
}

/* scrollbar styling non-standard version */
html::-webkit-scrollbar {
    width: 1rem;
    background-color: rgba(255, 255, 255, .15);
}

html::-webkit-scrollbar-thumb {
    background: #ffffff;
}

.card::-webkit-scrollbar {
    width: 1rem;
    background-color: rgba(255, 255, 255, .15);
}

.card::-webkit-scrollbar-thumb {
    background: #ffffff;
}




@media screen and (max-width: 768px) {

    .overflow-auto {
        overflow: initial !important;
    }

    .card {
        max-height: none;
    }

    #accueil {
        padding-top: 45%;
        padding-bottom: 30%;
    }

    #copyright {
        display: none;
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 90%
    }

    #cartesSuperposees {
        display: flex;
        flex-direction: column;
        width: 95%
    }

    .card::-webkit-scrollbar {
        display: none;
    }

    .card::-webkit-scrollbar-thumb {
        background: #ffffff;
    }

    .icons {
        transform: scale(0.75);
    }

    #scroll-down, #scrollDownContact, #scrollDownFormation {
        display: none;
    }

    #contact {
        padding-bottom: 25%;
    }
}

/* info bulle */
.bulleinfo:hover, .bulleinfo:focus {
    background: rgba(0, 0, 0, .4);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .4);
}

a span {
    margin-top: 23px;
    margin-left: -35px;
    position: absolute;
    bottom: 50px;
    color: #ffffff;
    background: rgba(0, 0, 0, .9);
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
    transform: scale(0) rotate(-12deg);
    transition: all .25s;
    opacity: 0;
}

a:hover span, a:focus span {
    transform: scale(1) rotate(0);
    opacity: 1;
}

